Repository ryne2010/edgewatch-telemetry: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright, terraform-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: repo-hygiene
        name: repo hygiene (portability)
        entry: python scripts/repo_hygiene.py
        language: system
        pass_filenames: false
        always_run: true

      - id: ruff-format
        name: ruff format
        entry: uv run --locked ruff format .
        language: system
        types: [python]

      - id: ruff-check
        name: ruff check
        entry: uv run --locked ruff check .
        language: system
        types: [python]

      - id: pyright
        name: pyright
        entry: uv run --locked pyright
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: uv run --locked pytest
        language: system
        pass_filenames: false

      - id: terraform-fmt
        name: terraform fmt
        entry: terraform fmt -recursive infra/gcp
        language: system
        files: ^infra/gcp/.*\.tf$

stabilize migration revision id and local smoke follow-ups
  Dockerfile
  agents/checklists/CHANGE_SUMMARY.md
  edgewatch_buffer_demo-well-001.sqlite
  edgewatch_buffer_demo-well-002.sqlite
  edgewatch_buffer_demo-well-003.sqlite
  migrations/versions/0004_alerting_pipeline.py
  scripts/repo_hygiene.py
Due: ruff-format, ruff-check, pyright

task 11a: add pluggable agent sensor framework
  agent/.env.example
  agent/README.md
  agent/config/example.sensors.yaml
  agent/edgewatch_agent.py
  agent/sensors/__init__.py
  agent/sensors/backends/__init__.py
  agent/sensors/backends/composite.py
  agent/sensors/backends/mock.py
  agent/sensors/backends/placeholder.py
  agent/sensors/base.py
  agent/sensors/config.py
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/11a-agent-sensor-framework.md
  docs/TASKS/README.md
  tests/test_sensor_framework.py
Due: ruff-format, ruff-check, pyright

task 11a: align change summary validation notes
  agents/checklists/CHANGE_SUMMARY.md
Due: none

task 11b: add rpi i2c bme280 backend
  agent/.env.example
  agent/README.md
  agent/config/example.sensors.yaml
  agent/sensors/backends/__init__.py
  agent/sensors/backends/rpi_i2c.py
  agent/sensors/config.py
  agents/checklists/CHANGE_SUMMARY.md
  docs/RUNBOOKS/SENSORS.md
  docs/TASKS/11b-rpi-i2c-temp-humidity.md
  docs/TASKS/README.md
  tests/test_sensor_rpi_i2c.py
Due: ruff-format, ruff-check, pyright

task 11c: add rpi adc backend and scaling
  agent/.env.example
  agent/README.md
  agent/config/example.sensors.yaml
  agent/sensors/backends/__init__.py
  agent/sensors/backends/rpi_adc.py
  agent/sensors/config.py
  agent/sensors/scaling.py
  agents/checklists/CHANGE_SUMMARY.md
  docs/RUNBOOKS/SENSORS.md
  docs/TASKS/11c-rpi-adc-pressures-levels.md
  docs/TASKS/README.md
  tests/test_sensor_framework.py
  tests/test_sensor_rpi_adc.py
  tests/test_sensor_scaling.py
Due: ruff-format, ruff-check, pyright

task 11d: add derived oil life backend and reset cli
  agent/.env.example
  agent/README.md
  agent/config/example.sensors.yaml
  agent/sensors/backends/__init__.py
  agent/sensors/backends/composite.py
  agent/sensors/backends/derived.py
  agent/sensors/config.py
  agent/sensors/derived/__init__.py
  agent/sensors/derived/oil_life.py
  agent/tools/__init__.py
  agent/tools/oil_life.py
  agents/checklists/CHANGE_SUMMARY.md
  docs/RUNBOOKS/SENSORS.md
  docs/TASKS/11d-derived-oil-life-reset.md
  docs/TASKS/README.md
  tests/test_oil_life_tool.py
  tests/test_sensor_derived.py
  tests/test_sensor_framework.py
Due: ruff-format, ruff-check, pyright

task 12a: add agent camera capture ring buffer mvp
  agent/.env.example
  agent/README.md
  agent/edgewatch_agent.py
  agent/media/__init__.py
  agent/media/capture.py
  agent/media/runtime.py
  agent/media/storage.py
  agent/tools/camera.py
  agents/checklists/CHANGE_SUMMARY.md
  docs/RUNBOOKS/CAMERA.md
  docs/TASKS/12a-agent-camera-capture-ring-buffer.md
  docs/TASKS/README.md
  tests/test_media_ring_buffer.py
  tests/test_media_runtime.py
Due: ruff-format, ruff-check, pyright

chore: refresh uv lockfile
  uv.lock
Due: none

task 12b: add media metadata storage and API endpoints
  .env.example
  agents/checklists/CHANGE_SUMMARY.md
  api/app/config.py
  api/app/main.py
  api/app/models.py
  api/app/routes/media.py
  api/app/schemas.py
  api/app/services/media.py
  docker-compose.yml
  docs/CONTRACTS.md
  docs/RUNBOOKS/CAMERA.md
  docs/TASKS/12b-api-media-metadata-storage.md
  docs/TASKS/README.md
  migrations/versions/0007_media_objects.py
  pyproject.toml
  tests/test_media_service.py
  tests/test_migrations_sqlite.py
  tests/test_models.py
  uv.lock
Due: ruff-format, ruff-check, pyright

chore: fix harness CI baseline failures
  .github/workflows/ci.yml
  CHANGELOG.md
  agents/checklists/CHANGE_SUMMARY.md
  api/app/edge_policy.py
  api/app/main.py
  api/app/middleware/limits.py
  api/app/observability.py
  api/app/rate_limit.py
  api/app/routes/contracts.py
  api/app/routes/devices.py
  api/app/security.py
  api/app/services/monitor.py
  docs/HARDWARE.md
  docs/IAM_STARTER_PACK.md
  docs/OBSERVABILITY.md
  docs/RUNBOOKS/RETENTION.md
  infra/gcp/cloud_run_demo/jobs.tf
  infra/gcp/cloud_run_demo/main.tf
  infra/gcp/cloud_run_demo/profiles/dev_public_demo.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_private_iam.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_private_iam.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/variables.tf
  pnpm-lock.yaml
  scripts/package_dist.py
  web/package.json
  web/src/pages/Alerts.tsx
  web/src/pages/Dashboard.tsx
  web/src/utils/format.ts
Due: ruff-format, ruff-check, pyright, terraform-fmt

fix: make tf-lint docker fallback resolve modules
  Makefile
  agents/checklists/CHANGE_SUMMARY.md
Due: none

fix: harden docker tflint fallback for CI
  Makefile
  agents/checklists/CHANGE_SUMMARY.md
Due: none

task 12c: add device media gallery tab
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/12c-web-media-gallery.md
  docs/TASKS/README.md
  docs/WEB_UI.md
  web/src/api.ts
  web/src/pages/DeviceDetail.tsx
Due: none

task 13a: add field-ready cellular runbook
  agents/checklists/CHANGE_SUMMARY.md
  docs/HARDWARE.md
  docs/RUNBOOKS/CELLULAR.md
  docs/TASKS/13a-cellular-runbook.md
  docs/TASKS/README.md
Due: none

task 13b: add agent cellular metrics watchdog
  agent/.env.example
  agent/README.md
  agent/cellular.py
  agent/edgewatch_agent.py
  agents/checklists/CHANGE_SUMMARY.md
  contracts/telemetry/v1.yaml
  docs/DOMAIN.md
  docs/HARDWARE.md
  docs/RUNBOOKS/CELLULAR.md
  docs/TASKS/13-cellular-connectivity.md
  docs/TASKS/13b-agent-cellular-metrics-watchdog.md
  docs/TASKS/README.md
  tests/test_agent_cellular.py
Due: ruff-format, ruff-check, pyright

task 13c: enforce edge policy cost caps
  agent/.env.example
  agent/README.md
  agent/cost_caps.py
  agent/device_policy.py
  agent/edgewatch_agent.py
  agents/checklists/CHANGE_SUMMARY.md
  api/app/edge_policy.py
  api/app/routes/contracts.py
  api/app/routes/device_policy.py
  api/app/schemas.py
  contracts/edge_policy/v1.yaml
  contracts/telemetry/v1.yaml
  docs/CONTRACTS.md
  docs/COST_HYGIENE.md
  docs/DOMAIN.md
  docs/RUNBOOKS/CELLULAR.md
  docs/TASKS/13-cellular-connectivity.md
  docs/TASKS/13c-cost-caps-policy.md
  docs/TASKS/README.md
  tests/test_agent_cost_caps.py
  tests/test_agent_device_policy.py
  tests/test_device_policy.py
Due: ruff-format, ruff-check, pyright

task 14: polish devices fleet filters
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/14-ui-ux-polish.md
  docs/WEB_UI.md
  web/src/api.ts
  web/src/pages/Devices.tsx
Due: none

task 14: alerts timeline and routing audit
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/14-ui-ux-polish.md
  docs/WEB_UI.md
  web/src/pages/Alerts.tsx
Due: none

task 14: alerts timeline and routing audit (#29)
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/14-ui-ux-polish.md
  docs/WEB_UI.md
  web/src/pages/Alerts.tsx
Due: none

task 14: add device detail oil life gauge
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/14-ui-ux-polish.md
  docs/WEB_UI.md
  web/src/pages/DeviceDetail.tsx
Due: none

task 14: add device detail oil life gauge (#30)
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/14-ui-ux-polish.md
  docs/WEB_UI.md
  web/src/pages/DeviceDetail.tsx
Due: none

task 16: add otel sql spans and metrics
  agents/checklists/CHANGE_SUMMARY.md
  api/app/main.py
  api/app/observability.py
  api/app/routes/ingest.py
  api/app/services/monitor.py
  docs/OBSERVABILITY.md
  docs/OBSERVABILITY_OTEL.md
  docs/TASKS/16-opentelemetry.md
  docs/TASKS/README.md
  pyproject.toml
  tests/test_observability_metrics.py
  uv.lock
Due: ruff-format, ruff-check, pyright

task 16: add otel sql spans and metrics (#31)
  agents/checklists/CHANGE_SUMMARY.md
  api/app/main.py
  api/app/observability.py
  api/app/routes/ingest.py
  api/app/services/monitor.py
  docs/OBSERVABILITY.md
  docs/OBSERVABILITY_OTEL.md
  docs/TASKS/16-opentelemetry.md
  docs/TASKS/README.md
  pyproject.toml
  tests/test_observability_metrics.py
  uv.lock
Due: ruff-format, ruff-check, pyright

task 18: add IAP perimeter and admin actor audit attribution
  .env.example
  agents/checklists/CHANGE_SUMMARY.md
  api/app/config.py
  api/app/main.py
  api/app/models.py
  api/app/routes/admin.py
  api/app/security.py
  api/app/services/admin_audit.py
  docs/CODEX_HANDOFF.md
  docs/CONTRACTS.md
  docs/DEPLOY_GCP.md
  docs/PRODUCTION_POSTURE.md
  docs/TASKS/18-iap-identity-perimeter.md
  docs/TASKS/README.md
  docs/security.md
  infra/gcp/cloud_run_demo/README.md
  infra/gcp/cloud_run_demo/iam_bindings.tf
  infra/gcp/cloud_run_demo/iap.tf
  infra/gcp/cloud_run_demo/main.tf
  infra/gcp/cloud_run_demo/outputs.tf
  infra/gcp/cloud_run_demo/profiles/README.md
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/variables.tf
  migrations/versions/0008_admin_events.py
  tests/test_admin_audit.py
  tests/test_migrations_sqlite.py
  tests/test_security.py
Due: ruff-format, ruff-check, pyright, terraform-fmt

task 18: add IAP perimeter and admin actor audit attribution (#32)
  .env.example
  agents/checklists/CHANGE_SUMMARY.md
  api/app/config.py
  api/app/main.py
  api/app/models.py
  api/app/routes/admin.py
  api/app/security.py
  api/app/services/admin_audit.py
  docs/CODEX_HANDOFF.md
  docs/CONTRACTS.md
  docs/DEPLOY_GCP.md
  docs/PRODUCTION_POSTURE.md
  docs/TASKS/18-iap-identity-perimeter.md
  docs/TASKS/README.md
  docs/security.md
  infra/gcp/cloud_run_demo/README.md
  infra/gcp/cloud_run_demo/iam_bindings.tf
  infra/gcp/cloud_run_demo/iap.tf
  infra/gcp/cloud_run_demo/main.tf
  infra/gcp/cloud_run_demo/outputs.tf
  infra/gcp/cloud_run_demo/profiles/README.md
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/variables.tf
  migrations/versions/0008_admin_events.py
  tests/test_admin_audit.py
  tests/test_migrations_sqlite.py
  tests/test_security.py
Due: ruff-format, ruff-check, pyright, terraform-fmt

task 15: add RBAC principal extraction and admin audit events
  .env.example
  agents/checklists/CHANGE_SUMMARY.md
  api/app/auth/__init__.py
  api/app/auth/audit.py
  api/app/auth/principal.py
  api/app/auth/rbac.py
  api/app/config.py
  api/app/main.py
  api/app/models.py
  api/app/routes/admin.py
  api/app/schemas.py
  api/app/security.py
  api/app/services/admin_audit.py
  docs/CODEX_HANDOFF.md
  docs/CONTRACTS.md
  docs/DEPLOY_GCP.md
  docs/TASKS/15-authn-authz.md
  docs/TASKS/README.md
  docs/WEB_UI.md
  docs/security.md
  migrations/versions/0009_admin_events_actor_subject.py
  tests/test_admin_audit.py
  tests/test_authz.py
  tests/test_migrations_sqlite.py
  tests/test_security.py
  web/src/api.ts
  web/src/app/settings.tsx
  web/src/pages/Admin.tsx
  web/src/pages/Settings.tsx
Due: ruff-format, ruff-check, pyright

task 15: add RBAC principal extraction and admin audit events (#33)
  .env.example
  agents/checklists/CHANGE_SUMMARY.md
  api/app/auth/__init__.py
  api/app/auth/audit.py
  api/app/auth/principal.py
  api/app/auth/rbac.py
  api/app/config.py
  api/app/main.py
  api/app/models.py
  api/app/routes/admin.py
  api/app/schemas.py
  api/app/security.py
  api/app/services/admin_audit.py
  docs/CODEX_HANDOFF.md
  docs/CONTRACTS.md
  docs/DEPLOY_GCP.md
  docs/TASKS/15-authn-authz.md
  docs/TASKS/README.md
  docs/WEB_UI.md
  docs/security.md
  migrations/versions/0009_admin_events_actor_subject.py
  tests/test_admin_audit.py
  tests/test_authz.py
  tests/test_migrations_sqlite.py
  tests/test_security.py
  web/src/api.ts
  web/src/app/settings.tsx
  web/src/pages/Admin.tsx
  web/src/pages/Settings.tsx
Due: ruff-format, ruff-check, pyright

task 17: add telemetry partitioning and rollup management
  CHANGELOG.md
  Makefile
  agents/checklists/CHANGE_SUMMARY.md
  api/app/config.py
  api/app/jobs/__init__.py
  api/app/jobs/partition_manager.py
  api/app/jobs/retention.py
  api/app/models.py
  api/app/routes/devices.py
  api/app/services/ingestion_runtime.py
  api/app/services/telemetry_partitions.py
  api/app/services/telemetry_rollups.py
  api/app/version.py
  docs/CODEX_HANDOFF.md
  docs/DEPLOY_GCP.md
  docs/DESIGN.md
  docs/DOMAIN.md
  docs/PRODUCTION_POSTURE.md
  docs/RUNBOOKS/REPLAY.md
  docs/RUNBOOKS/RETENTION.md
  docs/TASKS/17-telemetry-partitioning-rollups.md
  docs/TASKS/README.md
  infra/gcp/cloud_run_demo/README.md
  infra/gcp/cloud_run_demo/jobs.tf
  infra/gcp/cloud_run_demo/main.tf
  infra/gcp/cloud_run_demo/profiles/dev_public_demo.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_private_iam.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_private_iam.tfvars
  infra/gcp/cloud_run_demo/variables.tf
  migrations/versions/0010_telemetry_partition_rollups.py
  pyproject.toml
  tests/test_ingestion_runtime.py
  tests/test_migrations_sqlite.py
  tests/test_telemetry_scale_services.py
  uv.lock
Due: ruff-format, ruff-check, pyright, terraform-fmt

task 17: add telemetry partitioning and rollup management (#34)
  CHANGELOG.md
  Makefile
  agents/checklists/CHANGE_SUMMARY.md
  api/app/config.py
  api/app/jobs/__init__.py
  api/app/jobs/partition_manager.py
  api/app/jobs/retention.py
  api/app/models.py
  api/app/routes/devices.py
  api/app/services/ingestion_runtime.py
  api/app/services/telemetry_partitions.py
  api/app/services/telemetry_rollups.py
  api/app/version.py
  docs/CODEX_HANDOFF.md
  docs/DEPLOY_GCP.md
  docs/DESIGN.md
  docs/DOMAIN.md
  docs/PRODUCTION_POSTURE.md
  docs/RUNBOOKS/REPLAY.md
  docs/RUNBOOKS/RETENTION.md
  docs/TASKS/17-telemetry-partitioning-rollups.md
  docs/TASKS/README.md
  infra/gcp/cloud_run_demo/README.md
  infra/gcp/cloud_run_demo/jobs.tf
  infra/gcp/cloud_run_demo/main.tf
  infra/gcp/cloud_run_demo/profiles/dev_public_demo.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_private_iam.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_private_iam.tfvars
  infra/gcp/cloud_run_demo/variables.tf
  migrations/versions/0010_telemetry_partition_rollups.py
  pyproject.toml
  tests/test_ingestion_runtime.py
  tests/test_migrations_sqlite.py
  tests/test_telemetry_scale_services.py
  uv.lock
Due: ruff-format, ruff-check, pyright, terraform-fmt

task 19: harden agent sqlite buffer for field resilience
  agent/.env.example
  agent/README.md
  agent/buffer.py
  agent/edgewatch_agent.py
  agent/simulator.py
  agents/checklists/CHANGE_SUMMARY.md
  docs/CODEX_HANDOFF.md
  docs/RUNBOOKS/OFFLINE_CHECKS.md
  docs/TASKS/19-agent-buffer-hardening.md
  docs/TASKS/README.md
  tests/test_agent_buffer.py
Due: ruff-format, ruff-check, pyright

task 19: harden agent sqlite buffer for field resilience (#35)
  agent/.env.example
  agent/README.md
  agent/buffer.py
  agent/edgewatch_agent.py
  agent/simulator.py
  agents/checklists/CHANGE_SUMMARY.md
  docs/CODEX_HANDOFF.md
  docs/RUNBOOKS/OFFLINE_CHECKS.md
  docs/TASKS/19-agent-buffer-hardening.md
  docs/TASKS/README.md
  tests/test_agent_buffer.py
Due: ruff-format, ruff-check, pyright

task 20: add cloud armor edge protection for public ingest
  Makefile
  agents/checklists/CHANGE_SUMMARY.md
  docs/CODEX_HANDOFF.md
  docs/DEPLOY_GCP.md
  docs/PRODUCTION_POSTURE.md
  docs/RUNBOOKS/EDGE_PROTECTION.md
  docs/TASKS/20-edge-protection-cloud-armor.md
  docs/TASKS/README.md
  docs/security.md
  infra/gcp/cloud_run_demo/README.md
  infra/gcp/cloud_run_demo/edge_protection.tf
  infra/gcp/cloud_run_demo/outputs.tf
  infra/gcp/cloud_run_demo/profiles/README.md
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/variables.tf
Due: terraform-fmt

task 20: add cloud armor edge protection for public ingest (#36)
  Makefile
  agents/checklists/CHANGE_SUMMARY.md
  docs/CODEX_HANDOFF.md
  docs/DEPLOY_GCP.md
  docs/PRODUCTION_POSTURE.md
  docs/RUNBOOKS/EDGE_PROTECTION.md
  docs/TASKS/20-edge-protection-cloud-armor.md
  docs/TASKS/README.md
  docs/security.md
  infra/gcp/cloud_run_demo/README.md
  infra/gcp/cloud_run_demo/edge_protection.tf
  infra/gcp/cloud_run_demo/outputs.tf
  infra/gcp/cloud_run_demo/profiles/README.md
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/prod_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_admin.tfvars
  infra/gcp/cloud_run_demo/profiles/stage_public_ingest_private_dashboard_private_admin.tfvars
  infra/gcp/cloud_run_demo/variables.tf
Due: terraform-fmt

task 14: polish iap operator auth guidance ux
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/14-ui-ux-polish.md
  docs/TASKS/README.md
  docs/WEB_UI.md
  web/src/RootLayout.tsx
  web/src/pages/Admin.tsx
  web/src/pages/Alerts.tsx
  web/src/pages/DeviceDetail.tsx
  web/src/utils/adminAuth.ts
Due: none

task 14: polish iap operator auth guidance ux (#37)
  agents/checklists/CHANGE_SUMMARY.md
  docs/TASKS/14-ui-ux-polish.md
  docs/TASKS/README.md
  docs/WEB_UI.md
  web/src/RootLayout.tsx
  web/src/pages/Admin.tsx
  web/src/pages/Alerts.tsx
  web/src/pages/DeviceDetail.tsx
  web/src/utils/adminAuth.ts
Due: none

task 11: close edge sensor suite epic
  agent/sensors/backends/derived.py
  agents/checklists/CHANGE_SUMMARY.md
  contracts/telemetry/v1.yaml
  docs/CODEX_HANDOFF.md
  docs/DOMAIN.md
  docs/RUNBOOKS/SENSORS.md
  docs/TASKS/11-edge-sensor-suite.md
  docs/TASKS/README.md
  docs/WEB_UI.md
  tests/test_contracts.py
  tests/test_sensor_derived.py
  web/src/pages/DeviceDetail.tsx
Due: ruff-format, ruff-check, pyright

task 11: close edge sensor suite epic (#38)
  agent/sensors/backends/derived.py
  agents/checklists/CHANGE_SUMMARY.md
  contracts/telemetry/v1.yaml
  docs/CODEX_HANDOFF.md
  docs/DOMAIN.md
  docs/RUNBOOKS/SENSORS.md
  docs/TASKS/11-edge-sensor-suite.md
  docs/TASKS/README.md
  docs/WEB_UI.md
  tests/test_contracts.py
  tests/test_sensor_derived.py
  web/src/pages/DeviceDetail.tsx
Due: ruff-format, ruff-check, pyright

task 12: complete camera upload epic closeout
  agent/.env.example
  agent/README.md
  agent/edgewatch_agent.py
  agent/media/__init__.py
  agent/media/runtime.py
  agent/media/storage.py
  agents/checklists/CHANGE_SUMMARY.md
  docs/CODEX_HANDOFF.md
  docs/RUNBOOKS/CAMERA.md
  docs/TASKS/12-camera-capture-upload.md
  docs/TASKS/README.md
  tests/test_media_runtime.py
Due: ruff-format, ruff-check, pyright
